.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;
}

span.logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("/image/logo.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
}

button {
  background-color: #6d99cb;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #5a8bb0;
}
button:active {
  background-color: #4a7a9e;
}
button:focus {
  outline: none;
}

.maintitle {
  position: absolute;
  font-size: 100px;
  user-select: none;
  -webkit-user-select: none;
  color: #0000;
}