.three {
  width: calc(var(--width) - 60px);
  height: calc(100vh - 300px);
  display: block;
  margin: 0 auto 0 auto;
}

.three-mobile {
  width: calc(var(--width) - 60px);
  height: calc(100vh - 300px);
  display: block;
}
