/*
 * 活動報告ページのスタイル
 * PCとモバイルで異なるレイアウトを提供
 */
.activity-contents {
  display: flex; /* フレックスボックスでレイアウト */
  flex-direction: row; /* 横並び */
  flex-wrap: wrap; /* 要素を折り返し */
  gap: 10px; /* 要素間の間隔 */
}

.activity-contents-mobile {
  display: flex; /* フレックスボックスでレイアウト */
  flex-direction: column; /* 縦並び */
  margin: 0 auto; /* 中央寄せ */
  gap: 10px; /* 要素間の間隔 */
}

.activity-image {
  display: block;
  max-width: 400px; /* 画像の幅を固定 */
  max-height: 400px; /* 画像の高さを固定 */
  border-radius: 10px; /* 角を丸くする */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
  margin: 0 auto 0 auto;
}

.activity {
  width: 470px; /* コンテンツの幅を固定 */
  margin: 0px; /* 外側の余白を削除 */
  padding: 10px; /* 内側の余白を追加 */
  border: 0px solid #000; /* 枠線を削除 */
  border-radius: 10px; /* 角を丸くする */
  background-color: #f0f0f0; /* 背景色を設定 */
}

.activity-mobile {
  margin: 5px; /* 外側の余白を設定 */
  padding: 10px; /* 内側の余白を追加 */
  border: 0px solid #000; /* 枠線を削除 */
  border-radius: 10px; /* 角を丸くする */
  background-color: #f0f0f0; /* 背景色を設定 */
}

.activity h2 {
  font-size: 23px; /* フォントサイズを設定 */
  font-weight: bold; /* フォントを太字に設定 */
  margin: 5px 5px; /* 上下の余白を設定 */
  overflow-wrap: normal; /* テキストの折り返しを設定 */
}

.activity-mobile h2 {
  font-size: 20px; /* フォントサイズを設定 */
  font-weight: bold; /* フォントを太字に設定 */
  margin: 5px 5px; /* 上下の余白を設定 */
  overflow-wrap: normal; /* テキストの折り返しを設定 */
}

.activity-date {
  margin: 5px 10px;
  font-size: 8px; /* フォントサイズを設定 */
  line-height: 1.5; /* 行間を設定 */
  margin: 0;
  color: #0006;
  text-align: right;
}